.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 14px;

}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav {
  display: flex;
  gap: 30px;
  list-style: none;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

span {
  margin-left: 5px;
}
